<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<h1>Create the test!</h1>
	<hr>
    <form action="qadd">
<label for="">Enter the question.</label><br>
<input  name="question" type="text"><br>
<label for="">Enter the answers.</label> <br>
<input name = "answer" type="text">
<!-- <input type="radio" name = "answer"><input type="text"><br>
<input type="radio" name = "answer" ><input type="text"><br>
<input type="radio" name = "answer"><input type="text"><br>
<input type="radio" name = "answer"><input type="text"><br> -->
<button type="submit">Add</button>
</form>
 
</body>
</html>